* {
margin: 0;
border: 0;
}

.flex-container {
    background-color: yellow;
    height: 100vh;
    display: flex;                      /*Habilita o flex box*/
    flex-wrap: wrap;                    /*Quebra o conteudo em outra linha caso a tela não suporte todo o conteudo*/   
    flex-direction: row;                /*A direcao dos conteudos, mudando o eixo do flex*/
    justify-content: flex-start;            /*Manipula os itens no eixo principal*/
    align-items:flex-start;             /*Manipula os itens no eixo perpendicular*/
   /* align-content: flex-start;                /*Manipula o conteudo*/  
   /** gap: 15px;                          /*Uma funcao de margin*/
}

.flex-item{
    background-color: red;
    width: 100%;
}

.flex-item{
    flex-grow: 1;                   /*Divide o espaco branco para todos os elementos*/
    flex-basis: 320px;              /*Fixa o tamanho dos elementos*/
    flex-shrink: 1;                 /*Permite ou não que o elemento se diminua conforme manipulamos a resolucao da tela*/
    height: 200px;
    color: white;
    background-color: red;
}

.flex-item:nth-child(3){            /*posso mudar uma div flex distinta dentro da div principal com o nth-child*/
    font-size: 70px;
    background-color: purple;
    align-self: flex-end;           /*posso alinhar das divs com o seletor nth-child aonde eu quiser*/
}