#tabela th, #tabela td, #tabela table{
    border: 1px solid red;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.especificidade-css th, td, table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}



#thead {
    background-color: #ddd;
}



