:root {
    --primary-color: #0A1128;               /*HTML também podemos declarar variaveis, aqui no caso declaramos para podermos salvar as cores que iremos utilizar*/
    --white-color: #FFFFFF;
    --gap: 3rem;                               /*Savamos um gap padrao para o site*/
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);                    /*Chamamos uma variavel*/
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-size: 6rem;
    text-transform: uppercase;
  }
  
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 5.5rem;
  }
  
  h3 {
    font-size: 5rem;
  }
  
  h4 {
    font-size: 4.5rem;
  }
  
  h5 {
    font-size: 4rem;
  }
  
  h6 {
    font-size: 3.5rem;
  }
  
  .main-bg {
    background-image: url('../img/main-bg.svg');        /*Definimos uma classe para podermos chamar as configuracoes de background e cor da fonte*/
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
  }
  
  .white-bg {
    background: var(--white-color);                     /*Outra classe para quando fizermos outra secao, terá fundo branco*/
  }
  
.nav{
  display: grid;
  grid-template-columns: 75vw 25vw;
  grid-template-rows: 8vh;
  background-color: yellow;
  justify-content: center center;
  justify-items: center center;
  grid-template-areas: 
  'logo navegacao';

}

.logo {
  grid-area: logo;
}

.navegacao {
  margin: 5vh auto;
  grid-area: navegacao;
  text-decoration: none;
  list-style: none;
  

}

.main-content {
  display: grid;

  background-color: red;
  grid-template-columns: 85vw 15vw;
  grid-template-rows: 80vh;

  grid-template-areas: 
  'main-content side-content';

}

.main-content {
  grid-area: main-content;
  width: 85vw;
  height: 190vh;
  background-color: blue;

  justify-content: center center;
  justify-items: center center;
  
}
.side-content {
  width: 15vw;
  height: 190vh;

  grid-area: side-content;
  background-color: purple;
}

.footer {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh;
  background-color: pink;

}

