p {
    font-size: 20px ;           
    font-style: italic;
    font-weight: bold;              /*Tranforma o texto em negrito*/
    direction: ltr;                 /*Seleciona em qual lateral o texto ficara colado*/
    letter-spacing: 5px;            /*Espaco entre as letras*/
    line-height: 25px;              /*Espacamento entre as linhas*/
    text-align: left;
    text-decoration:underline;      /*Coloca underline no texto*/
    text-indent: 50px;              /*Identa o paragrafo, tipo um tracao*/
    text-shadow: 1px 1px 1px red; /*Coloca sombra no texto*/
}